.navBar {
    background-color:pink;
    justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.row {
    display: flex;
    justify-content: center;
}

#navbarNavAltMarkup{
    justify-content: center;
}

.navbar-toggler {
    margin-top: 10px;
    margin-bottom: 10px;
}

.primaryNav {
    color: white;
    height: 80px;
}

.navItems {
    margin-top: 10px;
    margin-bottom: 10px;
}


#navbarNavAltMarkup{
    justify-content: center;
    align-items: center;
}
.menuLinks{
    text-align:center;
    margin-left: 10px;
    margin-right: 10px;
}
.menuLinks:hover {
    color: #FF0080 !important;
}

.active {
    color: black;
}

.HeaderIMG {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.HeaderContent {
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1000px;
    align-items: center;
}

.TheProblem {
    padding-bottom: 50px;
}

.TheSolution {
    padding-bottom: 50px;
}



